<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerfiles}}
    
</head>
<body>
   {{>navbar}}
    
    
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- right side div    -->
                     <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="oops" class="img-fluid" title="thapa">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>I Am A <span>Full Stack Devloper</span> And A Freelancer</h1>
                        <a href="#"><button>About ME</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>  
    <!-- footer code            -->
    {{>footer}}
</body>
</html>